@font-face {
    font-family: 'avenir-heavy';
    src: url(/fonts/Avenir-Heavy.ttf) ;
}
@font-face {
    font-family: 'avenir-book';
    src: url(/fonts/Avenir-Book.ttf) ;
}
@font-face {
    font-family: 'avenir-medium';
    src: url(/fonts/Avenir-Medium.ttf) ;
}
@font-face {
    font-family: 'avenir-black';
    src: url(/fonts/Avenir-Black.ttf) ;
}